<br>
<div class="container Min-height">
	<include file="Public/left" />
	<div class="MyContent">
		<div class="MyContainer">
			<h3>我的留言</h3>
			<table class="table table-striped">
				<thead>
					<th>Date</th>
					<th>Time</th>
					<th>Content</th>
					<th>Action</th>
				</thead>
				<tbody>
					<volist name="advice" id="data">
						<form action="{:U('Me/delMsg')}" method="post">
							<input type="hidden" value="{$data.id}" name="id">
							<tr>
								<td>{$data.date}</td>
								<td>{$data.time}</td>
								<td>{$data.content}</td>
								<td>
									<php>
										if($data["flag"]==0) echo "<button class=\"btn btn-warning\" type=\"submit\" name=\"delete\">删除</button>";
										else echo "<button class=\"btn btn-primary\" type=\"submit\" name=\"appear\">恢复</button>";
									</php>
								</td>
							</tr>
						</form>
					</volist>
				</tbody>
			</table>
		</div>
	</div>
</div>