	<h2 class="sub-header">留言管理</h2>
	<div class="BeInCenter">
		<form action="{:U('Message/search')}" method="post" class="form-horizontal" role="form">
			<div class="form-group">
				<label>UserID:</label>
				<input type="text" name="userID">
				<button class="btn btn-primary" type="submit" name="search_1">查询</button>
				<label>Date:</label>
				<input type="date" name="date" placeholder="{$date}">
				<button class="btn btn-primary" type="submit" name="search_2">查询</button>
				<label>Content:</label>
				<input type="text" name="content">
				<button class="btn btn-primary" type="submit" name="search_3">查询</button>
				<button class="btn btn-success" type="submit" name="order">按时间排序</button>
			</div>
		</form>
	</div>
	<div class="table-reposive">
		<table class="table table-striped">
			<thead>
				<th>id</th>
				<th>UserID</th>
				<th>Date</th>
				<th>Time</th>
				<th>Content</th>
				<th>Action</th>
				<th>DELETE!</th>
			</thead>
			<tbody>
				<volist name="data" id="data">
					<form action="{:U('Message/delete')}" method="post">
						<tr>
							<td>{$data.id}<input type="hidden" value="{$data.id}" name="id"></td>
							<td>{$data.userid}</td>
							<td>{$data.date}</td>
							<td>{$data.time}</td>
							<td>{$data.content}</td>
							<php>
								if($data["flag"]==2) echo "<td><button class=\"btn btn-primary\" type=\"submit\" name=\"back\">恢复</button></td>";
								else if($data["flag"]==3) echo "<td><button class=\"btn btn-info\" type=\"submit\" name=\"back\">恢复</button></td>";
								else echo "<td><button class=\"btn btn-warning\" type=\"submit\" name=\"delete\">删除</button></td>";
							</php>
							<td><button class="btn btn-danger" type="submit" name="serious">永久删除</button></td>
						</tr>
					</form>
				</volist>
			</tbody>
		</table>
	</div>