	<h2 class="sub-header">留言管理</h2>
	<h3 class="sub-header">查询结果:</h3>
	<div class="table-reposive">
		<table class="table table-striped">
			<thead>
				<th>id</th>
				<th>UserId</th>
				<th>Tag</th>
				<th>Title</th>
				<th>Content</th>
				<th>Date</th>
				<th>Time</th>
				<th>Admin</th>
				<th>Delete</th>
				<th>DELETE!</th>
			</thead>
			<tbody>
				<volist name="data" id="data">
					<form action="{:U('Message/delete')}" method="post">
						<tr>
							<td>{$data.id}</td>
							<input type="hidden" value="{$data.id}" name="id">
							<input type="hidden" name="col" value="{$data['collection']}">
							<td>{$data.userid}</td>
							<td>
								<php>
									if($data["tag"]=='1111') echo "意见";
									else if($data["tag"]=='2222') echo "求助";
									else echo "水贴";
								</php>
							</td>
							<td>{$data.title}</td>
							<td>{$data.content}</td>
							<td>{$data.date}</td>
							<td>{$data.time}</td>
							<td><a class="btn btn-success" href="<?php echo U('Message/post',array('col'=>$data['collection'],'topic'=>$data['title']));?>">管理</button></td>
							<php>
								if($data["flag"]==1) echo "<td><button class=\"btn btn-primary\" type=\"submit\" name=\"back\">恢复</button></td>";
								else echo "<td><button class=\"btn btn-warning\" type=\"submit\" name=\"delete\">删除</button></td>";
							</php>
							<td><button class="btn btn-danger" type="submit" name="serious">永久删除</button></td>
						</tr>
					</form>
				</volist>
			</tbody>
		</table>
	</div>
	<div>
		<a class="btn btn-primary" href="{:U('Message/index')}">返回</a>
	</div>
