	<h2 class="sub-header">Admin管理</h2>
	<div class="BeInCenter">
		<h3>修改id={$id}的记录:</h3>
		<form action="{:U('Admin/edit')}" method="post" class="form-horizontal" role="form">
			<input type="hidden" value="{$id}" name="id">
			<label>adminName:</label>
			<input type="text" name="adminName" value="{$adminName}" size="20" maxlength="20">&nbsp&nbsp&nbsp
			<label>password:</label>
			<input type="text" name="password" value="{$password}" size="32" maxlength="20">&nbsp&nbsp&nbsp
			<button class="btn btn-success" type="submit" name="edit_1">修改</button>
		</form>
	</div>