	<h2 class="sub-header">Admin管理</h2>
	<h3 class="sub-header">查询结果:</h3>
	<div class="table-reposive">
		<table class="table table-striped">
			<thead>
				<th>id</th>
				<th>AdminName</th>
				<th>Password</th>
				<th>Edit</th>
				<th>Delete</th>
			</thead>
			<tbody>
				<volist name="data" id="data">
					<form action="{:U('Admin/manage')}" method="post">
						<tr>
							<td>
								{$data.id}
								<input type="hidden" value="{$data.id}" name="id">
							</td>
							<td>
								{$data.adminname}
								<input type="hidden" value="{$data.adminname}" name="adminName">
							</td>
							<td>
								{$data.password}
								<input type="hidden" value="{$data.password}" name="password">
							</td>
							<td><button class="btn btn-success" type="submit" name="edit_0">修改</button></td>
							<td>								
								<button class="btn btn-danger" type="submit" name="delete">删除</button>
							</td>
						</tr>
					</form>
				</volist>
			</tbody>
		</table>
	</div>
	<div>
		<a class="btn btn-primary" href="{:U('Admin/index')}">返回</a>
	</div>