<div class="fixed-right">
  <div class="headframe">
        <div class="center head">
          <img src="__PUBLIC__/image/car.png" width="100">
        </div>
        <div>
          <ul class="list-unstyled">
            <li>
              <div class="contentli">
                <div class="leftpart center">
                  <img src="__PUBLIC__/image/money.jpg" class="right-img">
                </div>
                <div class="rightpart">           
                  <p class="keyWord">价格优惠</p>
                  <p>没有附加的费用、不需要押金，价格低廉实惠</p>
                </div>
              </div>
            </li>
            <br>
            <li>
              <div class="contentli">
                <div class="leftpart center">
                  <img src="__PUBLIC__/image/customer.jpg" class="right-img">
                </div>
                <div class="rightpart">
                  <p class="keyWord">顾客第一</p>
                  <p>保证2小时内送达车子，有问题马上为您解决</p>
                </div>
              </div>
            </li>
            <br>
            <li>
              <div class="contentli">
                <div class="leftpart center">
                  <img src="__PUBLIC__/image/rent.jpg" class="right-img">
                </div>
                <div class="rightpart">
                  <p class="keyWord">租借方便</p>
                  <p>随时随地租车，随时随地享受到开车的乐趣</p>
                </div>
              </div>
            </li>
            <br>
            <li>
              <div class="contentli">
                <div class="leftpart center">
                  <img src="__PUBLIC__/image/service.jpg" class="right-img">
                </div>
                <div class="rightpart">
                  <p class="keyWord">服务周到</p>
                  <p>客服24小时在线解疑答惑，解决一切租车难题</p>
                </div>
              </div>
            </li>
          </ul> 
        </div>
  </div>
  <div class="center btn-top">
    <a class="btn btn-success" href="#">返回顶部</a>
  </div>
</div>
