{__NOLAYOUT__}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>登录</title>

    <!-- Bootstrap core CSS -->
    <link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet">

    <!-- 自定义CSS -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/login.css">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="__PUBLIC__/js/ie-emulation-modes-warning.js"></script>

    <!-- JQuery文件 -->
    <script src="__PUBLIC__/js/jquery-3.1.1.min.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
<body>
	<include file='Public/header' />
	<div class="container">
		<div class="center">
			<img src="__PUBLIC__/image/car.png" alt="" width="100px">
		</div>
		<form class="form-signin" role="form" action="{:U('Index/login')}" method="post">
			<h2 align="center">登录租车网</h2>
			<input type="text" name="ID" class="form-control" placeholder="身份证号" maxlength="18" required autofocus>
			<input type="password" name="password" class="form-control" placeholder="密码" maxlength="16" required autofus>
			<button class="btn btn-success btn-block" type="submit" name="submit">登录</button>
		</form>
		<p class="here-to-begin">没有账户?<a href="{:U('Index/register')}"> 快速创建</a></p>
	</div>
	<include file='Public/footer' />
	<!-- 兼容手机浏览器，解决调用输入法时，页脚被顶上去遮住输入框的bug。 -->
	<!-- <script>
		window.onresize = resizeWindow;
		function resizeWindow(){
			var height = $(window).height();
			if (height <= 400) {
				$("div.footer").hide();
			} else {
				$("div.footer").show();
			}
		}
	</script> -->
</body>
</html>
	
