	<h2 class="sub-header">租车管理</h2>
	<div class="BeInCenter">
		<form action="{:U('Rent/search')}" method="post" class="form-horizontal" role="form">
			<div class="form-group">
				<label>UserId:</label>
				<input type="text" name="userId">
				<button class="btn btn-primary" type="submit" name="search_1">查询</button>
				<label>License:</label>
				<input type="text" name="license_no">
				<button class="btn btn-primary" type="submit" name="search_2">查询</button>
				<label>Date:</label>
				<input type="date" name="date">
				<button class="btn btn-primary" type="submit" name="search_3">查询</button>
			</div>
		</form>
	</div>
	<div class="table-reposive">
		<table class="table table-striped">
			<thead>
				<th>id</th>
				<th>UserId</th>
				<th>License</th>
				<th>Date</th>
				<th>订单状态</th>
				<th>押金</th>
				<th>押金状态</th>
				<th>取车日期</th>
				<th>Edit</th>
				<th>DELETE!</th>
			</thead>
			<tbody>
				<volist name="data" id="data">
					<form action="{:U('Rent/manage')}" method="post">
						<tr>
							<td>{$data.id}<input type="hidden" value="{$data.id}" name="id"></td>
							<td>{$data.userid}</td>
							<td>{$data.license_no}</td>
							<td>{$data.date}</td>
							<td>
								<php>
									if($data["flag"]==1) echo "成功";
									else if($data["flag"]==0) echo "处理中";
									else echo "失败";
								</php>
							</td>
							<td>¥{$data.deposit}</td>
							<td>
								<php>
									if($data["g_flag"]==1) echo "已支付";
									else if($data["g_flag"]==2) echo "已归还";
									else echo "未支付";
								</php>
							</td>
							<td>{$data.draw_date}</td>
							<td><button class="btn btn-success" type="submit" name="edit_1">修改</button></td>
							<td><button class="btn btn-danger" type="submit" name="delete">删除</button></td>
						</tr>
					</form>
				</volist>
			</tbody>
		</table>
	</div>